/* styles.css */
*,
*::before,
*::after {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  line-height: 1.5;
}

.container {
  height: 90vh;
  width: 90vw;
  margin: 5vh auto;
  display: flex;
  flex-flow: column nowrap;
  align-items:center;  
}
/* container big container */
/* -> h1, calculator container */
/* .container > h1, */

.calculator-container {
  min-width: 200px;
  max-width: 500px;
  height: 40vh;
  width: 50vw;

  display: flex;
  flex-flow: column nowrap;
  gap: 2%;

}
/* display */
.display-container{
  flex: 0 0 25%;
  
  display: flex;
  align-items: stretch;
}
#display {
  /* min-width: 20%; */
  flex: 0 0 87.5%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-button {
  align-self: stretch;
  flex: 0 0 12.5%;
}
/* buttons */
.button-container {
  flex: 1 1 75%;
  gap: 2%;
  display: flex;
  flex-flow: column nowrap;
}
.row{
  flex: 1 1 auto;
  gap: 2%;
  display: flex;
}
.row > * {
  flex: 1 1 25%;

}